<% title = "Batch Spawn" %>

<%= setup_context :title => "Batch Spawn" %>


<div class="row">
  <div class="col-md-8">
   <h2><%= title %></h2>
	
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
	<%= form_tag({:controller => :batch_spawn, :action => :batch_spawn}, {:id => "batch_spawn", :class => "form-search", :method => "POST"}) do |form| %>
	<div class='control-group form-group'> 
	  	 <%=
			 render_aspace_partial :partial => "batch_spawn/form",
					:locals => {
					:controller => :batch_spawn,
					:confirmation_title => I18n.t("actions.merge_confirm_title"),
					:confirmation_msg => I18n.t("actions.merge_agent_confirm_message")}
		  %>
	</div>
	<div class='control-group form-group'> 
	  <button type="submit" class="btn pull-left batch-spawn-button btn-primary btn-default">
		<%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %>
		<%= I18n.t("plugins.lcnaf.actions.search") %>
	  </button>
	</div>
    <%= hidden_field_tag "page", @page %>
    <%= hidden_field_tag "records_per_page", @records_per_page %>

	<% end %>	
	
	  <div id="results"></div>
	
	
	</div>
	 <script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/batch_spawn.js" %>"></script>
	<div id="template_batch_spawn_result_summary"><!--
	  <div class="row-fluid">
		<div class="pull-right text-info">
		  <%= I18n.t("plugins.lcnaf.result_summary", :page => "${page}", :first_record_index => "${first_record_index}", :last_record_index => "${last_record_index}", :hit_count => "${hit_count}") %>
		</div>
		<hr/>
	  </div>
	--></div>	
	
	<div id="template_batch_spawn_result"><!--
	  <div class="batch-spawn-result">
		<div class="row">
		  <div class="col-md-12">
			<div class='alert alert-info'>${record.title}
			  <span class="pull-right alert alert-success hide"><%= I18n.t("plugins.lcnaf.messages.selected") %></span>
			  <button class="pull-right btn btn-default hide select-record" data-lccn="${record.lccn}"><%= I18n.t("plugins.lcnaf.actions.select") %></button>
			  <button class="pull-right btn btn-default hide show-record" ><%= I18n.t("plugins.lcnaf.actions.show_record") %></button>
			  <div class="col-md-12 lcnaf-marc hide"><pre><code>${record.xml|h}</code></pre></div> 
			</div> 
		  </div>   
		</div>
	  </div>
	--></div>
</div>